<div id="introduction" style="text-align: left; line-height: 130%">
  <p>This is a project exploring how close we can get to a <em>truly</em> Peer-to-Peer WebRTC experience: just a single offline HTML file on the host, bootstrapped onto the guest via &lt;2,953 bytes of HTML squeezed into a single QR code (plus a return QR code is required for some browser engines). No servers in the middle, just two web browsers speaking WebRTC and JavaScript to each other.</p>

  <p>Please read the caveats below before trying it out! It is incredibly cool that it is even possible, and even somewhat portable between browsers (though Chromium works best), and I have done my best to smooth out the rough edges to make it pleasant to use. The concept underlying the connection procedure is relatively simple, and I have written a chat app on top to demonstrate its usefulness and test aspects like latency (try running /ping).</p>

  <p>More information and downloads at <a href="https://webrtc-over-qr.veritates.love/">https://webrtc-over-qr.veritates.love/</a>.</p>
</div>
